<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>2pac</title>
	<link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

	<nav>
		<ul class="container-1">
			<li class="box-11 transition-1"><a href="eminem_page.html">Eminem</a></li>
           	<li class="box-12 transition-1"><a href="#">Tupac Shakur</a></li>
           	<li class="box-13 transition-1"><a href="jayZ_page.html">Jay-Z</a></li>
          	<li class="box-14 transition-1"><a href="alphaW_page.html">Alpha Wann</a></li>   
		</ul>
	</nav>

	<div class="bg-dark">
		<div class="container-2">
			<img class="box-21 transition-2" src="../images/2pac_page/2pac_main.png" alt="image 2pac">
			<p class="box-22">Tupac Amaru Shakur born Lesane Parish Crooks, June 16, 1971, better known by his stage name 2Pac and, later, by his alias Makaveli, was an American rapper and actor. He is widely considered one of the most influential rappers of all time. Much of Shakur's music has been noted for addressing contemporary social issues that plagued inner cities, and he is considered a symbol of activism against inequality.</p>
			<legend class="box-23"><p>Manhattan, New York <img src="../images/american_flag.png" alt="image american flag"></p></legend>
		</div> 
	</div>	

	<div>
		<form>
			<fieldset class="container-3">
				<legend>Studio Albums</legend>
				<img src="../images/2pac_page/2pacalypse_now.png" alt="image 2pacalypse" title="2pacalypse Now">
				<img src="../images/2pac_page/strictly_for_my_niggaz.png" alt="image strictly for my niggaz" title="Strictly For My Niggaz">
				<img src="../images/2pac_page/me_against_the_world.png" alt="image me against the world" title="Me Against The World">
				<img src="../images/2pac_page/all_eyez_on_me.png" alt="image all eyes on me" title="All Eyez On Me">
				<img src="../images/2pac_page/the_don_killuminati.png" alt="image the don killuminati" title="The Don Killuminaty : The 7 Day Theory">
			</fieldset>
		</form>
	</div>

	<div class="container-4">
		<a class="back-button" href="../artists_list_page.html">Revenir à la page d'accueil</a>
	</div>

</body>
</html>