<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alpha Wann</title>
	<link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

	<nav>
		<ul class="container-1">
			<li class="box-11 transition-1"><a href="eminem_page.html">Eminem</a></li>
         	<li class="box-12 transition-1"><a href="2pac_page.html">Tupac Shakur</a></li>
        	<li class="box-13 transition-1"><a href="jayZ_page.html">Jay-Z</a></li>
          	<li class="box-14 transition-1"><a href="#">Alpha Wann</a></li>   
		</ul>
	</nav>

	<div class="bg-dark">
		<div class="container-2">
			<img class="box-21 transition-2" src="../images/alphaW_page/alphaW_main.png" alt="image Alpha Wann">
			<p class="box-22">Alpha Omar Wann, dit Alpha Wann, né le 2 juillet 1989 dans le 14e arrondissement de Paris, est un rappeur, auteur-interprète français. Il est membre de l'ancien groupe 1995 et du collectif L'Entourage. Membre fondateur de 1995, Alpha Wann est un pilier du groupe avec Nekfeu. Après s'être lancé dans une carrière en solo, il sort trois EP successifs, la trilogie Alph Lauren. Le 21 septembre 2018, Wann publie son premier album, Une main lave l’autre qui sera certifié disque d'or plus d'un an après. </p>
			<legend class="box-23"><p>Paris, Île de France <img src="../images/french_flag.png" alt="image french flag"></p></legend>
		</div> 
	</div>	

	<div>
		<form>
			<fieldset class="container-3">
				<legend>EP, Mixtapes et Albums Studio</legend>
				<img src="../images/alphaW_page/alph_lauren.png" alt="image alph lauren" title="Alph Lauren">
				<img src="../images/alphaW_page/alph_lauren2.png" alt="image alph lauren 2" title="Alph Lauren 2">
				<img src="../images/alphaW_page/alph_lauren3.png" alt="image alph lauren 3" title="Alph Lauren 3">
				<img src="../images/alphaW_page/PPP.png" alt="image PPP" title="PPP">
				<img src="../images/alphaW_page/une_main_lave_lautre.png" alt="image une main lave l'autre" title="Une Main Lave L'Autre">
				<img src="../images/alphaW_page/don_dada_mixtape_vol1.png" alt="image don dada mixtape vol 1" title="Don Dada Mixtape vol 1">
			</fieldset>
		</form>
	</div>

	<div class="container-4">
		<a class="back-button" href="../artists_list_page.html">Revenir à la page d'accueil</a>
	</div>

</body>
</html>