<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eminem</title>
	<link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

	<nav>
		<ul class="container-1">
			<li class="box-11 transition-1"><a href="#">Eminem</a></li>
           	<li class="box-12 transition-1"><a href="2pac_page.html">Tupac Shakur</a></li>
           	<li class="box-13 transition-1"><a href="jayZ_page.html">Jay-Z</a></li>
          	<li class="box-14 transition-1"><a href="alphaW_page.html">Alpha Wann</a></li>   
		</ul>
	</nav>

	<div class="bg-dark">
		<div class="container-2">
			<img class="box-21 transition-2" src="../images/eminem_page/eminem_main.png" alt="image Eminem">
			<p class="box-22">Marshall Bruce Mathers III born October 17, 1972, known professionally as Eminem (formerly stylized as EMINƎM), is an American rapper, songwriter, and record producer. Eminem is among the best-selling music artists of all time, with estimated worldwide sales of over 220 million records. He is credited with popularizing hip hop in Middle America and is critically acclaimed as one of the greatest rappers of all time.</p>
			<legend class="box-23"><p>St. Joseph, Michigan <img src="../images/american_flag.png" alt="image american flag"></p></legend>
		</div> 
	</div>	

	<div>
		<form>
			<fieldset class="container-3">
				<legend>Studio Albums</legend>
				<img src="../images/eminem_page/infinite.png" alt="image infinite" title="Infinite">
				<img src="../images/eminem_page/the_slim_shady_lp.png" alt="image the slim shady lp" title="The Slim Shady LP">
				<img src="../images/eminem_page/the_marshall_mathers_lp.png" alt="image the marshall matters lp" title="The Marshall Mathers LP">
				<img src="../images/eminem_page/the_eminem_show.png" alt="image the eminem show" title="The Eminem Show">
				<img src="../images/eminem_page/encore.png" alt="image encore" title="Encore">
				<img src="../images/eminem_page/relapse.png" alt="image relapse" title="Relapse">
				<img src="../images/eminem_page/recovery.png" alt="image recovery" title="Recovery">
				<img src="../images/eminem_page/the_marshall_mathers_lp2.png" alt="image the marshall matters lp2" title="The Marshall Mathers LP 2">
				<img src="../images/eminem_page/revival.png" alt="image revival" title="Revival">
				<img src="../images/eminem_page/kamikaze.png" alt="image kamikaze" title="Kamikaze">
				<img src="../images/eminem_page/MTBMB.png" alt="image music to be murdered by" title="Music To Be Murdered By">
				<img src="../images/eminem_page/MTBMB_sideB.png" alt="image music to be murdered by side B" title="Music To Be Murdered By Side B">
			</fieldset>
		</form>
	</div>

	<div class="container-4">
		<a class="back-button" href="../artists_list_page.html">Revenir à la page d'accueil</a>
	</div>

</body>
</html>