<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jay-Z</title>
	<link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

	<nav>
		<ul class="container-1">
			<li class="box-11 transition-1"><a href="eminem_page.html">Eminem</a></li>
           	<li class="box-12 transition-1"><a href="2pac_page.html">Tupac Shakur</a></li>
           	<li class="box-13 transition-1"><a href="#">Jay-Z</a></li>
          	<li class="box-14 transition-1"><a href="alphaW_page.html">Alpha Wann</a></li>   
		</ul>
	</nav>

	<div class="bg-dark">
		<div class="container-2">
			<img class="box-21 transition-2" src="../images/jayZ_page/jayZ_main.png/" alt="">
			<p class="box-22">Shawn Corey Carter born December 4, 1969, known professionally as Jay-Z (formerly stylized as JAY-Z), is an American rapper, songwriter, record executive, businessman, and media proprietor. He is widely regarded as one of the most influential hip-hop artists in history and is also well known for being the former CEO of Def Jam Recordings, cultivating major industry artists such as Kanye West, Rihanna, and J. Cole.</p>
			<legend class="box-23"><p>Brooklyn, New York <img src="../images/american_flag.png" alt="image américain flag"></p></legend>
		</div> 
	</div>	

	<div>
		<form>
			<fieldset class="container-3">
				<legend>Studio Albums</legend>
				<img src="../images/jayZ_page/reasonable_doubt.png" alt="image reasonable doubt" title="Reasonable Doubt">
				<img src="../images/jayZ_page/in_my_lifetime.png" alt="image in my lifetime" title="In My Lifetime">
				<img src="../images/jayZ_page/hard_knock_life.png" alt="image hard knock life" title="Hard Knock Life">
				<img src="../images/jayZ_page/life_and_times_of_s_carter.png" alt="image life and times of s carter" title="Life and Times of S Carter">
				<img src="../images/jayZ_page/the_dynasty_roc_la_familia.png" alt="image the dynasty roc la familia" title="The Dynasty : Roc La Familia">
				<img src="../images/jayZ_page/the_blueprint.png" alt="image the blueprint" title="The Blueprint">
				<img src="../images/jayZ_page/the_blueprint2_the_gift_and_the_curse.png" alt="image the blueprint² the gift and the curse" title="The Blueprint² : The Gift And The Curse">
				<img src="../images/jayZ_page/the_black_album.png" alt="image the black album" title="The Black Album">
				<img src="../images/jayZ_page/kingdom_come.png" alt="image kingdom come" title="Kingdom Come">
				<img src="../images/jayZ_page/american_gangster.png" alt="image american gangster" title="American Gangster">
				<img src="../images/jayZ_page/the_blueprint3.png" alt="image the blueprint 3" title="The Blueprint 3">
				<img src="../images/jayZ_page/magna_carta_holy_grail.png" alt="image magna carta holy grail" title="Magna Carta... Holy Grail">
				<img src="../images/jayZ_page/444.png" alt="image 4:44" title="4:44">
			</fieldset>
		</form>
	</div>

	<div class="container-4">
		<a class="back-button" href="../artists_list_page.html">Revenir à la page d'accueil</a>
	</div>

</body>
</html>